<div class="grid-container">
  <!--<h1 class="mat-h1">Dashboard</h1>-->
  <mat-grid-list cols="2" rowHeight="450px">
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Programs of Interest
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="dashboardMenu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #dashboardMenu="matMenu" xPosition="before">
              <button (click)="openDialog()" mat-menu-item>Add Program</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Cisco Networks Postbaccalaureate Certificate
                </mat-panel-title>
                <mat-panel-description>
                  <!--Type your name and age-->
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-chip-list>
                <mat-chip>ASSOC-90.1</mat-chip>
                <mat-chip>MM150</mat-chip>
                <mat-chip>MM250</mat-chip>
                <mat-chip>MM201</mat-chip>
                <mat-chip color="primary" selected>HS290</mat-chip>
                <mat-chip color="accent" selected>CM220</mat-chip>
              </mat-chip-list>


              <h4>Progress: 3 out of 44 credits</h4>

              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Graduate Certificate in Human Resources
                </mat-panel-title>
                <mat-panel-description>
                  <!--Type your name and age-->
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-chip-list>
                <mat-chip>TC6.1</mat-chip>
                <mat-chip>CM222</mat-chip>
                <mat-chip color="accent" selected>CM226</mat-chip>
                <mat-chip color="accent" selected>CM229</mat-chip>
              </mat-chip-list>

              <h4>Progress: 16 out of 42 credits</h4>

              <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Master of Science in Management - Project Management
                </mat-panel-title>
                <mat-panel-description>
                  <!--Type your name and age-->
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-chip-list>
                <mat-chip>MM100</mat-chip>
                <mat-chip>MM110</mat-chip>
                <mat-chip>MM120</mat-chip>
                <mat-chip>MM130</mat-chip>
                <mat-chip>MM140</mat-chip>
                <mat-chip>MM150</mat-chip>
                <mat-chip>MM160</mat-chip>
                <mat-chip>MM170</mat-chip>
                <mat-chip>MM180</mat-chip>
                <mat-chip>MM190</mat-chip>
              </mat-chip-list>

              <h4>Progress: 22 out of 44 credits</h4>

              <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>

            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Master of Science in Management - Leadership
                </mat-panel-title>
                <mat-panel-description>
                  <!--Type your name and age-->
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-chip-list>
                <mat-chip>MM100</mat-chip>
                <mat-chip>MM110</mat-chip>
                <mat-chip>MM120</mat-chip>
                <mat-chip>MM130</mat-chip>
                <mat-chip>MM140</mat-chip>
                <mat-chip>MM150</mat-chip>
                <mat-chip>MM160</mat-chip>
                <mat-chip>MM170</mat-chip>
                <mat-chip>MM180</mat-chip>
                <mat-chip>MM190</mat-chip>
              </mat-chip-list>

              <h4>Progress: 0 out of 38 credits</h4>

            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Charts
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="chartMenu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #chartMenu="matMenu" xPosition="before">
              <button mat-menu-item>Line Graph</button>
              <button mat-menu-item>Bar Chart</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Tools
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="toolsMenu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #toolsMenu="matMenu" xPosition="before">
              <button mat-menu-item>Add</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
