<form [formGroup]="courseForm" (ngSubmit)="addPriorLearningCourse()">
  <div class="example-container">

    <h2>Add a course to {{data.institution.InstitutionName}}</h2>

    <mat-form-field>
      <input matInput placeholder="Course Code" required formControlName="courseCode">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Course Title" required formControlName="courseTitle">
    </mat-form-field>

    <button type="submit" mat-button [disabled]="!courseForm.valid">Add Course</button>

  </div>
</form>
