<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>My Courses</span>
        <span class="my-course-spacer"></span>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="dashboardMenu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #dashboardMenu="matMenu" xPosition="before">
          <button (click)="openInstitutionDialog()" mat-menu-item>Add Institution</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list dense *ngFor="let institution of priorLearningInstitutions$ | async">
      <mat-divider></mat-divider>
      <h3 matSubheader>{{institution.InstitutionName}}</h3>
      <button mat-button (click)="openCourseDialog(institution)">Add Course</button>
      <a mat-list-item *ngFor="let course of institution.Courses">{{course.Code}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Transfer Credits Evaluation Tool</span>
      <span class="icon-spacer"></span>
      <mat-icon class="user-icon">favorite</mat-icon>
      <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
